* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-size: 100% 100%;
	background-color: #ffffff;
}

.add {
	position: fixed;
	width: 56px;
	height: 56px;
	right: 5vw;
	bottom: 12vh;
	background: #c862a2;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
	border-radius: 32px;
	z-index: 1
}

.addvector {
	position: absolute;
	width: 24px;
	height: 24px;
	/* right: 4.5vw;
    bottom: 2.2vh; */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	padding-right: 21px;
}

header {
	display: flex;
	padding: 2.7rem 2.3rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	background-color: #2d9cda;
	align-items: center;
	height: 23.8vh;
}

header h1 {
	font-size: 2.5rem;
	font-weight: 300;
	color: beige;
	margin-bottom: 1rem;
	display: flex;
	font-family: 'Rubik', sans-serif;
}

img {
	width: 50px;


}

.navbar {
	overflow: hidden;
	background-color: rgb(254, 254, 254);
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 76px;
	box-shadow: 5px 5px 10px 10px rgba(85, 85, 85, 0.4);
	border-radius: 2px;
}

.navbar a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 16px 0px;
	text-decoration: none;
	font-size: 17px;

}

.navbar a:hover {
	background: #f1f1f1;
	color: black;
}

.navbar a.active {
	/*background-color: #04AA6D;*/
	color: rgb(213, 22, 165);
}

.main {
	padding: 16px;
	margin-bottom: 30px;
}

.modal-main {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: white;
	display: none;
	flex-direction: row;
}

.modal-subject>.menu-top {
	display: flex;

	width: 100vw;
	height: 7vh;
	justify-content: center;
	align-items: center;
	background-color: whitesmoke;
}

.modal-subject>.menu-top>div {
	flex-grow: 1;
	text-align: center;
}

.modal-subject>.menu-top>div+div {
	flex-grow: 2;
	text-align: center;
}

.modal-subject>.menu-top>div+div+div {
	flex-grow: 1;
	text-align: center;
}

.slide-grade {
	width: 342px;
	height: 71px;
	background: #ece1eb;
	border-radius: 10px;
	position: relative;
	margin-top: 15px;
}

.circle-grade {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 12%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 25px;
	background: #c862a2;
}

.grade-text {
	color: white;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
}

.gread-bg-grade-text-center {
	top: 50%;
	left: 50%;
	width: 40vw;
	transform: translate(-50%, -50%);
	position: absolute;
	display: flex;
	flex-direction: column;
}

.grade-text-title {
	font-size: 20px;
	font-weight: 600;
	color: #c862a2;
}

.grade-text-title+div {
	font-size: 15px;
}

.modal-main.open {
	display: flex;
	z-index: 2;
}

.subject-save {
	background-image: url(./img/rainbow.jpeg);
	background-size: 100% 100%;
	padding: 20px;
	height: 100%;
}

.subject-save>.input1{
	margin-top: 20px;
}

.subject-save>.input1>input {
	margin-top: 20px;
	width: 100%;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
	border-color: none;
	background-color: #fadbe1;
}
.subject-save>.input1>.red {
	
	border-color: red;
}

.img-close-svg {
	width: 20%;
}
.warning1 {
	color: red;
	display: none;
}
.warning1.open {
	display: block;
}